.single {
  display: flex;
  font-size: 1.2rem;

  &__container {
    flex: 6;
    display: flex;
    flex-direction: column;
  }

}

.title {
  font-size: 1.6rem;
  color: lightgray;
  margin-bottom: 2rem;
}

.top__container {
  display: flex;
  padding: 20px;
  gap: 2rem;
}



.left__side {
   flex: 1;
   padding: 2rem;
  position: relative;
   box-shadow: var(--box-shadow-primary);
}

.edit-button {
   position: absolute;
   top: 2rem;
   right: 2rem;
  color: var(--color-purple);
  background-color: #7551f818;
  cursor: pointer;
  border-radius: 0 0 0 5px;
  font-size: 1.4rem;
  font-weight: 500;
}

.right__side {
  flex: 2;
}

.item {
  display: flex;
  gap: 2rem;
  &__img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
  }

  &__details {

    &--title {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    &--body {
      display: flex;
      gap: 2rem;
      margin-bottom: .8rem;
      font-size: 1.4rem;

      .item__key {
        font-weight: bold;
        color: var(--color-gray);
      }

      .item__value {

      }

    }
  }

}


.bottom {


}
