.navbar {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  border-bottom: 1px solid rgb(228, 225, 225);;
  color: #555;
  font-size: 1.4rem;
  height: 5rem;
}

.navbar__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-gray);
  padding: .3rem;
}

.search__input {
  border: none;
  background-color: transparent;
}

.icon {
 font-size: 2rem !important;
  &--info {
    font-weight: 200 !important;
  }
}

.navbar__items {
  display: flex;
  align-items: center;
  gap: 2rem;



}

.navbar__item {
  display: flex;
  position: relative;
  align-items: center;

  &--counter {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    border-radius: 50%;
    font-size: 1rem;
    text-align: center;
    top: -.5rem;
    right: -.5rem;
    color: var(--color-white)
  }

  &--description {
    font-size: 1.5rem;
  }
}



.user__profile {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;

}

.avatar {
  height: inherit;
  width: inherit;
}




