
:root {
  --font-base: 'Nunito', sans-serif;
  --color-purple: #6439ff;
  --color-purple-light: #7451f8;
  --color-purple-dark: rgba(186, 112, 186, 0.54);;
  --color-white: #fff;
  --color-gray: #999;
  --color-gray-dark: #888;
  --white-purple: #ece8ff;
  --color-green: green;
  --color-red: red;
  --box-shadow-primary: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}


body {
  font-family: var(--font-base);
  font-size: 1.8rem;
}